<nav>
	<a href="http://deconstructed.digital313.com">Home</a>
	<a href="https://www.vizify.com/tchen">Resume/CV</a>
	<a href="http://deconstructed.digital313.com/contact-me">Contact Me</a>
	<a href="{{@blog.url}}/rss/">Subscribe</a>
	<a href="http://blog.digital313.com">Personal Blog</a>
</nav>
