<ul id="social-links">
	<a href="https://plus.google.com/100274125331634206809"><img src="../assets/icons/gplus2.png"><p>Google+</img></p></a>
	<a href="https://github.com/camporez"><img src="../assets/icons/github.png"><p>Github</p></img></a>
	<a href="{{@blog.url}}/rss"><img src="../assets/icons/rss.png"><p>Subscribe</p></img></a>
</ul>
