@import url(default.css);

.container{
	width: 900px;
}
header{
	padding-top: 30px;
}

#title{
	width: 600px;
	margin-left: -300px;
}

#logo{
	position: fixed;
}

#logo img{
	border-radius: 50%;
}

nav a{
	border-top: 4px solid transparent;
	transition-duration: 0.7s;
}

nav a:hover{
	border-color: #fff;
}

#social-links a{
	margin-right: 20px;
}

#social-links img{
	display: none;
}
