@import url(default.css);

.container{
	width: 90%;
}

#title{
	width: 90%;
	margin-left: -45%;
}

#logo img{
	border-radius: 0 0 50% 50%;
}

#social-links p{
	display: none;
}

#social-links img{
	width: 22px;
	margin-top: -4px;
}